<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/Users/mark/.nvm/versions/node/v22.22.1/bin:/Library/Frameworks/Python.framework/Versions/3.12/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
		<key>KSM_PROFILE</key>
		<string>browserstack-qa</string>
	</dict>
	<key>Label</key>
	<string>com.venterra.browserstack.pilot.daily</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/Users/mark/Property_Analytics/run_pilot_browserstack_daily.sh</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>/Users/mark/Library/Logs/Venterra/browserstack_pilot_daily_stderr.log</string>
	<key>StandardOutPath</key>
	<string>/Users/mark/Library/Logs/Venterra/browserstack_pilot_daily_stdout.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>6</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
	<key>WorkingDirectory</key>
	<string>/Users/mark/Property_Analytics</string>
</dict>
</plist>
